html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* fin css reset */

body{
margin : 0px auto;
	width: 99%;
	background-color:white-space;
	height: 100%;
}

header{
	width: 90%;
	margin: 10px auto;
/*padding-bottom: 1%;
	padding-top : %;*/


}

h1{
	font-size: 26px;
	font-weight : bold;
	text-align: center;
	margin-top: 2%;
}

h2{
	font-size: 20px;
	font-weight : bold;
	text-align: center;
	margin-top : 1%;
	margin-bottom : 2%;
}

h4{
	margin: 1px;
}

p{
	margin: 1%;
	font-size: 17px;
}

menu{
	border : 1px solid black;
	margin-left : 20%;
	width: 60%;
	padding: 1%;
	display: inline-block;
	background-color: #E0DDDD;
	margin-bottom: 1%;
	margin-top: 2%;
}

li{
	text-align: center;
	display: inline-block;
	width : 10%;
	margin-left : 43px;
	margin-right: 43px;
}


#information{
	width: 80%;
	background-color: white;
	margin: 0px auto;
	padding-top: 1%;
	
	background-color: #E0DDDD;
}

#texte{
	margin: 0px auto;
	width: 80%;
	text-align: center;

}

#connexion{
	float: right;
	margin-right : 3%;
	margin-top: -10%
}

footer{
	background-color: white;
	width: 80%;
	margin: 0px auto;
	padding-top: 3%;
}

#billet{
	margin: 0px auto;
	text-align: center;

}

#compte{
  margin: 0px auto;
  width : 80%;
  background-color: white;
  padding: 5%;
}


#nouveautés{
	margin: 0px auto;
	margin-top : 1%;
	background-color: white;
	width: 80%;
}

.txt{
	text-align: center;
	margin: 1% 1% 0% 0%;
	
}

#identite{
	width: 11%;
	margin-left : 5%;
	
}
main {
	background-color:#C7C4C4;
}
#image{
	padding:9%;
	
}
